.success-msg {
  color: #0e6b0e;
  font-weight: bold;
  background-color: #ffff00;
  padding: 10px 15px;
}

.err-msg {
  color: #ee6352;
  font-weight: bold;
  background-color: #ffff00;
  padding: 10px 15 px;
}
